body {
    margin: 0;
    overflow: hidden;
    background: #000;
    color: #8ff;
    font-family: Helvetica;
}

.item {
    width: 120px;
    height: 160px;
    border: 1px solid rgba(127,255,255,0.4);
    box-shadow: 0 0 12px rgba(0,255,255,0.4);
    text-align: center;
    position: relative;
    background: rgba(0,127,127,0.4);
}

.symbol {
    font-size: 48px;
    margin-top: 20px;
    color: white;
    text-shadow: 0 0 10px cyan;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

button {
    color: #8ff;
    background: transparent;
    padding: 6px 12px;
    border: 1px solid #8ff;
    cursor: pointer;
}

button:hover {
    background: rgba(0,255,255,0.3);
}
